@import './destination/container.css';
@import './destination/hr.css';
@import './destination/images.css';
@import './destination/sidenav.css';
@import './destination/nav.css';
@import './destination/checkbox.css';
html {
	scroll-behavior: smooth;
}
.title{
    margin-top: 70px;
    text-align: center;
}

body {
    font-family: "Lato", sans-serif;
    scroll-behavior: smooth;
  }
section{
    padding-top: 70px;
}
h1{
    padding-left: 10px;
}
h2{
    padding-left: 30px;
    margin-bottom: 0;
}
p{
    padding-left: 50px;
    padding-right: 20px;
    margin-top: 0;
}
