@import "./style/cards.css";
@import "./style/container.css";
@import './style/nav.css';
@import './style/dropdown.css';


.title{
  margin-top: 70px;
  text-align: center;
}

body {
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
img{
  height: 200px;
}
