.container {
  text-align: center;
  display: grid;
  height: 100vh;
  grid-template-rows:2fr 6fr 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.box{
    border: 1px solid black;
}
.header {
  grid-area: header;
  margin-top: 60px;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  background-color: #111;
  color: white;
}
