.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {
  grid-area: header;
}
.main {
  grid-area: main;
  padding-bottom: 110px;
}
.footer {
  text-align: center;
  grid-area: footer;
  background-color: #111;
  color: white;
  z-index: 100;
}
