.center {
    display: flex;
    justify-content: center;
}

.figure {
    display: flex;
    flex-direction: column;
    width: 500px;
    max-width: 80vw;
    margin: 30px;
    padding: 10px;
    border-radius: 25px;
    background-color:white;
    box-shadow: 0 4px 8px 0 rgb(255, 255, 255,0.2);
}
.figure:hover{
    box-shadow: 0 8px 16px 0 rgb(255, 255, 255,0.2);
}
.figure figcaption{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    font-style: italic;
    color:black;
    margin: 10px;
}

.images {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.images img {
    width:200px;
    height: 150px;
    margin: 10px;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.images img:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}