.responsive {
    width: 100%;
    height: auto;
    max-height: 100vh;
}

.centered {
    text-align: center;
    color: white;
    font-family: "Verdana, sans-serif";
    font-size: 38px;
    white-space: nowrap;
    font-weight: bolder;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 640px) {
    .centered {
      font-size: 24px;
    }
    .centered img{
        width: 24px;
        height: 24px;
    }
  }

.centered img {
    cursor: pointer;
    opacity: 0.7;
    margin-top: 5px;
    width: 38px;
    height: 38px;
}

.centered img:hover {
    opacity: 1;
}


.landing {
    position: relative;
}