.sidenav {
  background-color: #111;
  width: 15%;
  padding: 0;
  position: fixed;
  top: 60px;
  height: 100%;
}

.sidenav a,.nav a {
  text-align: start;
  white-space: nowrap;
  padding: 16px 8px 16px 8px;
  text-decoration: none;
  font-size: 24px;
  color: darkgray;
  display: block;
}

.sidenav a:hover,.nav a:hover {
  color: white;
}
#navbar-brand{
  text-transform: capitalize;
  color: darkgray;
  font-family: "Grenze Gotisch";
  white-space: nowrap;
  padding: 10px 8px 16px 8px;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  display: block;
}
#navbar-brand:hover{
  color: white;
}
#openSideNav {
  display: none;
}

.nav {
  display: flex;
  align-items:center;
  position: fixed;
  background-color: #111;
  height: 60px;
  width: 100%;
  padding-left: 50px;
  padding-bottom: 10px;
  z-index: 1;
}

.sidenav {
  overflow-x: hidden;
  width: 0px;
  transition: .5s;
  z-index: 10;
}

input[type="checkbox"]:checked ~ .sidenav {
  width: 200px;
}



.IconToggle {
  z-index: 10;
  background-color: #111;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("../../images/icons/format-list-bulleted-square.png");
  position: fixed;
  top: 10px;
  left: 20px;
}

input[type="checkbox"]:checked ~ .IconToggle {
  background-image: url("../../images/icons/close.png");
}
@media screen and (max-width: 768px) {
  .nav a {
    padding: 16px 4px 16px 4px;
    font-size: 16px;
  }
  #navbar-brand{
    padding: 16px 8px 16px 8px;
    text-decoration: none;
    font-size: 20px;
  }
}