.sidenav {
  background-color: #111;
  width: 15%;
  padding: 0;
  position: fixed;
  top: 60px;
  height: 100%;
}

.sidenav a {
  white-space: nowrap;
  padding: 16px 8px 16px 16px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

#openSideNav {
  display: none;
}

.nav {
  position: fixed;
  background-color: #111;
  height: 60px;
  width: 100%;
}

.sidenav {
  overflow-x: hidden;
  width: 0px;
  transition: .5s;
}

input[type="checkbox"]:checked ~ .sidenav {
  width: 200px;
}
@media screen and (min-width: 768px) {
  input[type="checkbox"]:checked ~ .main {
    margin-left: 200px;
  }
}


.IconToggle {
  background-color: #111;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url("/images/icons/format-list-bulleted-square.png");
  position: fixed;
  top: 20px;
  left: 20px;
}

input[type="checkbox"]:checked ~ .IconToggle {
  background-image: url("/images/icons/close.png");
}
